import { Config } from '@stencil/core';
import { sass } from '@stencil/sass';

export const config: Config = {
  namespace: '<%= dasherize(name) %>',
  plugins: [
    sass()
  ],
  outputTargets: [
    {
      type: 'dist',
      esmLoaderPath: '../loader'
    },
    {
      type: 'docs-readme',
      footer: 'Geekster Development Kit'
    },
    {
      type: 'www',
      serviceWorker: null
    }
  ]
};
